body{
	background-color: lightblue;
}
h1{
	color: orange;
	font-size:90px;
	text-decoration: underline;

}

#first{
	font-size: 150px
}
h2{
	color: green;
	font-size:33px;
	text-decoration:unset;

}	

.small{
		font-size: 12px
}

span{
		font-style: italic;
}
h2 span{
	text-decoration: overline line-through ;
}